.Article_Header{
    width: 100%;
	height: 350px;
	position: absolute;
	overflow: hidden;
	user-select: none;
    z-index: 1;
}

.Article_Header_Image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    filter: blur(5px);
    transform: scale(2);
}

.Article_Header_Fade{
    background: linear-gradient(180deg, rgba(0,0,0,0) 70%, var(--Header-Thumbnail-Fade-Color) 100%);
	z-index: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
    z-index: 50;
	/* border-radius: 8px; */
}

.Article_Main_Container{
    width: calc(100%-50px);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    position: relative;
    padding: 10px;
    padding-top: 80px;
    padding-bottom: 50px;
}

.Article_Main_Content_Container{
    width: 100%;
    max-width: 700px;
    height: auto;
    min-height: 500px;
    background-color: white;
    box-shadow: var(--Element-BoxShadow);
    padding: 20px;
    border-radius: 5px;
}

.Article_Main_Content_Image_Container{
    width: 100%;
	height: 250px;
	/* position: absolute; */
	overflow: hidden;
	user-select: none;
    margin-bottom: 10px;
}

.Article_Main_Content_Image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.Article_Title{
    font-family: Hansief;
    margin: 0;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 0.85;
    overflow-wrap: break-word;
}

.Article_Info{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
    /* background-color: gray; */
}

.Article_Info_Item{
    width: auto;
    display: flex;
    flex-direction: row;
    grid-gap: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #dbdbdb;
}

.Article_Info_Item > p{
    margin: 0;
}

.Article_Info_Item_Title{
    font-weight: 700;
    font-family: Roboto;
    color: #264653;
}

.Article_Info_Item_Value{
    font-family: Roboto;
    color: #264653;
}

.Article_Content_Paragraph{
    font-family: Roboto;
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
}

.Article_Content_Images{
    width: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Article_Content_Images_Item{
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.Article_Content_Images_Item_Image{
    /* aspect-ratio: 16/9; */
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    /* object-fit:; */
    /* object-position: 50% 50%; */
}

.Article_Content_Images_Item_Description{
    font-family: Roboto;
    margin: 0;
}

.Article_Content_Images_Item_Credit{
    font-family: Roboto;
    font-style: italic;
    margin: 0;
    opacity: 50%;
}

.Article_Content_EmbeddedVideo{
    width: 100%;
    height: 394px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.Article_Content_Title{
    font-family: Raleway;
    color: black;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Article_Content_Title_Big{
    font-family: Hansief;
    color: black;
    margin: 0;
    margin-top: 35px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 0.85;
}



.Article_References_Content_Container{
    width: 100%;
    max-width: 700px;
    height: auto;
    /* min-height: 500px; */
    background-color: white;
    box-shadow: var(--Element-BoxShadow);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.Article_References_Title{
    font-family: Hansief;
    margin: 0;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 0.85;
    overflow-wrap: break-word;
}

.Article_References_List{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.Article_References_List_Item{
    /* background-color: #264653; */
    margin: 0;
    margin-bottom: 5px;
    padding: 5px;
    font-family: Roboto;
    color: black;
    user-select: none;
    cursor: pointer;
    transition: var(--Element-Transition-Delay);
}

.Article_References_List_Item:hover{
    background-color: #264653;
    color: white;
}

li {
    font-family: Roboto;
}

.Article_CTABox{
    top: 60px;
    position: fixed;
    z-index: 50;
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: #264653; */
    transform: translateX(-3px);
    user-select: none;
}

.Article_CTABox_Content{
    width: 100%;
    max-width: 700px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    background-color: #dbdbdb;
    box-shadow: var(--Element-BoxShadow);
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    align-items: center;
    border-radius: 5px;
    height: 50px;
}

.Article_CTABox_Content_Text{
    font-family: Roboto;
    margin: 0;
}

.Article_CTABox_Content_Button{
    background-color: #0936af;
    border-radius: 5px;
    font-family: Roboto;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: var(--Element-Transition-Delay);
}

.Article_CTABox_Content_Button:hover{
    box-shadow: var(--Element-BoxShadow);
}

@media only screen and (max-width: 750px){
    .Article_Title{
        font-size: 3rem;
    }

    .Article_Main_Content_Container{
        width: calc(100% - 20px);
        /* margin-top: 10px; */
        border-radius: 0px;
    }

    .Article_References_Content_Container{
        width: calc(100% - 20px);
    }

    .Article_CTABox{
        left: 70px;
        width: calc(100% - 80px);
        height: 50px;
    }

    .Article_CTABox_Content{
        padding: 10px;
        padding: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .Article_Main_Content_Image_Container{
        height: 230px;
    }
}