/*
	UI Stylesheet
	#264653
	#2a9d8f
	#e9c46a
	#f4a261
	#e76f51
*/

*{
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@font-face {
	font-family: "Hansief";
	src: url('../Assets/Fonts/Hansief.otf') format("opentype");
	/* src: url('https://drive.google.com/uc?id=1Ot9Xg1rVe2TlIOizCh2nk8oXFeA2eZ6q') format("opentype"); */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Raleway";
	src: url("../Assets/Fonts/Raleway-ExtraBold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Roboto";
	src: url("../Assets/Fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

*{
	outline: var(--Debug-ElementOutline);
}

body{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

.UI_ElementContainer{
	width: 100%;
	height: 100%;
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
	pointer-events: none;
}

.UI_ElementContainer > *{
	pointer-events: all;
}

.UI_Header{
	background-color: #264653;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
	display: grid;
	grid-template-columns: 50px 1fr 50px;
	align-content: center;
	align-items: center;
	position: fixed;
	user-select: none;
	z-index: 50;
}

.UI_Header_Hamburger{
	width: 30px;
	height: 30px;
	padding: 10px;
	transition: var(--Element-Transition-Delay);
}

.UI_Header_Hamburger:hover{
	background-color: #2a9d8f;
	cursor: pointer;
}

.UI_Header_Hamburger:active{
	transform: scale(0.95);
}

.UI_Header_Title{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.UI_Header_Title_Text{
	font-family: "Hansief";
	color: white;
	text-transform: uppercase;
	margin: 0;
	transition: var(--Element-Transition-Delay);
}

.UI_Header_Title_Text:hover{
	letter-spacing: 5px;
}

.UI_Header_Share{
	width: 30px;
	height: 30px;
	padding: 10px;
	transition: var(--Element-Transition-Delay);
}

.UI_Header_Share:hover{
	background-color: #2a9d8f;
	cursor: pointer;
}

.UI_Header_Share:active{
	transform: scale(0.95);
}

.UI_Header_Share_Toast{
	background-color: #264653;
	margin-top: 50px;
	width: 100px;
	padding: 5px;
	float: right;
	z-index: 0;
	opacity: 0;
}

.UI_Header_Share_Toast_Text{
	font-family: Raleway;
	color: white;
	margin: 0;
	text-align: center;
}

.UI_Sidebar{
	position: fixed;
	height: calc(100% - 50px);
	top: 50px;
	width: 300px;
	background-color: #264653;
	padding: 10px;
	padding-right: 20px;
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns: 1fr;
	user-select: none;
	overflow-y: auto;
	z-index: 50;
	transition: var(--Element-Transition-Delay);
}

.UI_Sidebar_Main{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.UI_Sidebar_Main_Item{
	width: 100%;
	height: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	padding: 5px;
	border-radius: 5px;
	transition: var(--Element-Transition-Delay);
}

.UI_Sidebar_Main_Item:hover{
	background-color: #2a9d8f;
}

.UI_Sidebar_Main_Item_Text{
	font-family: Raleway;
	color: white;
	margin: 0;
	font-size: 20;
	text-decoration: none;
}

.UI_Sidebar_Secondary{
	width: 1fr;
	display: flex;
	flex-direction: column;
	border-top: solid white 1px;
	padding-bottom: 20px;
}

.UI_Sidebar_Secondary_Item{
	width: 100%;
	height: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	padding: 5px;
	border-radius: 5px;
	transition: var(--Element-Transition-Delay);
}

.UI_Sidebar_Secondary_Item:hover{
	background-color: #2a9d8f;
}

.UI_Sidebar_Secondary_Item_Text{
	font-family: Raleway;
	color: white;
	margin: 0;
	font-size: 15;
	text-decoration: none;
}

.UI_Sidebar_Secondary_Footer{
	font-family: Roboto;
	color: white;
	margin: 0;
	font-size: 10;
	text-decoration: none;
	padding-left: 5px;
}

.TargetArea_CornerButtons{
	width: 300px;
	max-width: 500px;
	height: 70px;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 150;
	pointer-events: none;
}

.TargetArea_CornerButtons:hover > .CornerButtons{
	opacity: 100%;
}

.CornerButtons{
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: auto;
	display: flex;
	flex-direction: row;
	cursor: pointer;
	z-index: 98;
/* background: blue; */
	opacity: 100%;
	transition: var(--Element-Transition-Delay);
}

.CornerButtons_Button{
	z-index: 98;
	filter: var(--Element-Icon-Brightness);
	background-color: var(--BGColor-Menus);
	padding: 7px;
	border-radius: 7px;
	border-bottom-style: solid;
	border-bottom-color: var(--BGColor-General);
	border-bottom-width: 3px;
	box-shadow: var(--Element-BoxShadow);
	width: 30px;
	height: 30px;
	margin-left: 10px;
	transition: var(--Element-Transition-Delay);
}

.CornerButtons_Button:hover{
	background-color: var(--BGColor-Hover);
	transform: scale(1.05);
	box-shadow: var(--BoxShadow-Hover);
	cursor: pointer;
}
.CornerButtons_Button > img {
	filter: var(--Element-Icon-Brightness);
}

.Main_Content_Container{
	width: calc(100%);
	height: calc(100% - 50px);
	position: fixed;
	margin-top: 50px;
	overflow-y: auto;
	/* padding: 20px; */
	padding-top: 0px;
}


.Main_Subwindows_Container{
	width: calc(100%);
	height: calc(100% - 50px);
	position: fixed;
	margin-top: 50px;
	overflow-y: auto;
	/* padding: 20px; */
	padding-top: 0px;
	z-index: 40;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	border-radius: 10px;
	z-index: 75;
	transition: var(--Element-Transition-Delay);
}
::-webkit-scrollbar:hover{
	width: 10px;
}



/* Track */
::-webkit-scrollbar-track {
	
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: var(--Accent-Color);
	border-radius: 10px;
	
	transition: var(--Element-Transition-Delay);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: var(--Accent-Color-Hover);
	border-radius: 10px;
	width: 50px;
	height: 50px;
}
/* Selection color */
::selection{
	background-color: var(--Accent-Color);
}

.ComingSoon{
	position: absolute;
	width: calc(100% - 40px); 
	height: calc(100% - 50px - 40px);
	top: 50px;
	background-color: #264653;
	z-index: 49;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.ComingSoon_Icon{
	width: 150px;
}

.ComingSoon_Title{
	font-family: Hansief;
	color: white;
	text-transform: uppercase;
	font-size: 55;
	margin: 0;
	text-align: center;
}

.ComingSoon_Subtitle{
	font-family: Raleway;
	color: white;
	text-transform: uppercase;
	margin: 0;
	text-align: center;
}