*{
    transition: var(--Element-Transition-Delay);
}

a{
    text-decoration: none;
    color: unset;
}

.Home_MainTitle{
    width: calc(100% - var(--Margin-Left) - var(--Margin-Right) - 60px);
    /* max-width: 993px; */
    height: 350px;
    margin-left: var(--Margin-Left);
    margin-right: var(--Margin-Right);
    background-color: #004cff;
    padding: 30px;
    user-select: none;
    overflow: hidden;
}

.Home_MainTitle_Title{
    font-family: Gilroy Heavy;
    color: white;
    margin: 0;
    line-height: 0.85;
    font-size: 7em;
    letter-spacing: -4px;
    z-index: 2;
    position: relative;
}

.Home_MainTitle_Subtitle{
    font-family: Gilroy Bold;
    color: white;
    margin: 0;
    margin-top: 10px;
    line-height: 0.85;
    font-size: 2em;
    letter-spacing: -2px;
    z-index: 2;
    position: relative;
}

.Home_MainTitle_Background{
    position: absolute;
    overflow: hidden;
    top: 0;
    width: calc(100% - var(--Margin-Left) - var(--Margin-Right));
    height: 410px;
    /* background-color: rgba(255, 255, 255, 0.3); */
    transform: translateX(-30px);
    z-index: 1;
}

.Home_MainTitle_Background_Cog{
    position: absolute;
    z-index: 1;
    
}

.Home_MainTitle_Background_Cog:nth-child(1){
    /* transform: translateX(-40px) translateY(-50px); */
    right: -250px;
    bottom: -250px;
    /* background-color: white; */
}

.Home_MainTitle_Background_Cog:nth-child(2){
    right: -150px;
    top: -275px;
    transform: rotate(-5deg);
}

.Home_MainTitle_Background_Cog:nth-child(3){
    right: 300px;
    top: -300px;
    transform: rotate(-10deg);
}

.Home_MainTitle_Background_Cog:nth-child(4){
    /* transform: translateX(-40px) translateY(-50px); */
    right: 200px;
    bottom: -250px;
    transform: rotate(-20deg) scale(0.9);
    /* background-color: white; */
}

.Home_MainTitle_Background_Cog:nth-child(5){
    /* transform: translateX(-40px) translateY(-50px); */
    left: -50px;
    top: -300px;
    transform: rotate(-20deg) scale(1.5);
    filter: blur(5px);
    /* background-color: white; */
}

.Home_MainTitle_Background_Cog:nth-child(6){
    /* transform: translateX(-40px) translateY(-50px); */
    left: -50px;
    bottom: -450px;
    transform: rotate(-40deg) scale(1.5);
    filter: blur(5px);
    /* background-color: white; */
}

.Home_MainTitle_Background_Cog:nth-child(even){
    animation-name: RotateLeft;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.Home_MainTitle_Background_Cog:nth-child(odd){
    animation-name: RotateRight;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.Home_Section_Title{
    margin-left: calc(var(--Margin-Left) + 30px);
    margin-right: calc(var(--Margin-Right) + 30px);
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    transform: translateY(-20px);
    z-index: 70;
    position: relative;
    /* top: 30px; */
    width: calc(100% - var(--Margin-Left) - var(--Margin-Right) - 60px);
}

.Home_Section_Title[Section="Featured"]{
    justify-content: left;
}

.Home_Section_Title[Section="Articles"]{
    justify-content: center;
    transform: translateY(-50px);
}

.Home_Section_Title[Section="Articles_Button"]{
    justify-content: center;
    transform: translateY(-90px);
}

.Home_Section_Title[Section="InPhotos"]{
    justify-content: right;
    transform: translateY(-80px);
}


.Home_Section_Title_Text{
    font-family: Gilroy Heavy;
    color: white;
    background-color: #e76740;
    width: auto;
    margin: 0;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.Home_Section_Title_Decoration{
    background-color: #e76740;
    padding: 5px;
    height: 40px;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

@keyframes RotateLeft{
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

@keyframes RotateRight{
    from {
        rotate: 0deg;
    }
    to {
        rotate: -360deg;
    }
}

.Home_Featured{
    width: calc(100% - var(--Margin-Left) - var(--Margin-Right));
    height: 450px;
    margin-left: var(--Margin-Left);
    margin-right: var(--Margin-Right);
    background-color: #004cff;
    transform: translateY(-40px);
}

.Home_Latest_Item{
    /* width: calc(100% - 20%); */
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    /* border: solid white; */
    opacity: 0%;
    transition: 1s;
    cursor: pointer;
    background-color: gray;
}

a#Featured_0 > .Home_Latest_Item{
    background-image: var(--Home-Featured-Image-0);
}

a#Featured_1 > .Home_Latest_Item{
    background-image: var(--Home-Featured-Image-1);
}

a#Featured_2 > .Home_Latest_Item{
    background-image: var(--Home-Featured-Image-2);
}

a#Featured_3 > .Home_Latest_Item{
    background-image: var(--Home-Featured-Image-3);
}

a#Featured_4 > .Home_Latest_Item{
    background-image: var(--Home-Featured-Image-4);
}

/* .Home_Latest_Item:nth-child(1){
    background-image: var(--Home-Featured-Image-1);
}

.Home_Latest_Item:nth-child(2){
    background-image: var(--Home-Featured-Image-2);
}

.Home_Latest_Item:nth-child(3){
    background-image: var(--Home-Featured-Image-3);
}

.Home_Latest_Item:nth-child(4){
    background-image: var(--Home-Featured-Image-4);
}

.Home_Latest_Item:nth-child(5){
    background-image: var(--Home-Featured-Image-5);
} */

.Home_Latest_Item_Overlay{
    background: linear-gradient(178deg, rgba(0,0,0,0) 50%, rgba(0,0,0,75) 100%);
	z-index: 0;
	width: 100%;
	height: 100%;
	position: absolute;
    bottom: 0;
	content: "";
}

.Home_Latest_Item_Title{
    font-family: Gilroy Bold;
    color: white;
    margin: 0;
    position: absolute;
    bottom: 0;
    padding: 20px;
    padding-left: 30px;
    text-transform: uppercase;
}

.Home_Featured_Selector{
    background-color: #e76740;
    margin-top: 10px;
    transform: translateY(-40px);
    width: calc(100% - var(--Margin-Left) - var(--Margin-Right));
    margin-left: var(--Margin-Left);
    margin-right: var(--Margin-Right);
    display: flex;
    justify-content: center;
    transition: var(--Element-Transition-Delay);
}

.Home_Featured_Selector:hover{
    background-color: unset;
}

.Home_Latest_Carousel_Selector{
    /* background-color: #264653; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    background-color: white;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

.Home_Latest_Carousel_Selector_Item{
    height: 20px;
    width: 50px;
    /* min-width: 50px; */
    background-color: #e76740;
    /* margin-left: 5px;
    margin-right: 5px; */
    transition: 1s;
    cursor: pointer;
    transition: 0.2s;
}

.Home_Latest_Carousel_Selector_Item:hover{
    transition: 0.2s;
    /* transform: scale(1.3); */
}

.Home_Latest_Carousel_Selector_Item[data-id = "Selected"]{
    /* min-width: calc(100% - var(--Margin-Left) - var(--Margin-Right)); */
    width: 200px;
    transition: 1s;
}

.Home_Articles_Decoration[Count="1"]{
    background-color: #004cff;
    width: calc(100% - var(--Margin-Left) - var(--Margin-Right));
    height: 30px;
    margin-left: var(--Margin-Left);
    margin-right: var(--Margin-Right);
    transform: translateY(-30px);
}

.Home_Articles_Decoration[Count="2"]{
    background-color: #004cff;
    width: calc(100% - var(--Margin-Left) - var(--Margin-Right));
    height: 30px;
    margin-left: var(--Margin-Left);
    margin-right: var(--Margin-Right);
    transform: translateY(-60px);
}

.Home_Articles{
    background-color: #004cff;
    width: calc(100% - var(--Margin-Left) - var(--Margin-Right) - 60px);
    height: 425px;
    margin-left: var(--Margin-Left);
    margin-right: var(--Margin-Right);
    transform: translateY(-70px);
    padding: 10px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-rows: 1fr auto;
    /* padding-bottom: 30px; */
}

.Home_Articles_List{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.Home_Articles_CheckOut_Box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.Home_Articles_CheckOut_Box_Item[Count="1"]{
    display: grid; 
    grid-template-columns: 20px 1fr; 
    align-items: center; 
    grid-gap: 10px;
}

.Home_Articles_CheckOut_Box_Item[Count="2"]{
    display: grid; 
    grid-template-columns: 1fr 20px; 
    align-items: center; 
    grid-gap: 10px;
}

.Home_Articles_Item{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    background-color: white;
    height: 349px;
    padding: 10px;
    border: solid #00216f 3px;
    user-select: none;
    transition: var(--Element-Transition-Delay);
    cursor: pointer;
}

.Home_Articles_Item:hover{
    transform: scale(1.02);
}

.Home_Articles_Item_Image{
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.Home_Articles_Item_Image_Image{
    width: 100%;
}

.Home_Articles_Item_Title{
    display: grid;
    grid-template-rows: 1fr auto auto;
}

.Home_Articles_Item_Title_Text, .Home_Articles_Item_Title_WrittenBy, .Home_Articles_Item_Title_WrittenBy_Author{
    font-family: Gilroy Bold;
    margin: 0;
    /* color: #001f68; */
    letter-spacing: -2px;
}

.Home_Articles_Item_Title_Text{
    line-height: 30px;
}

.Home_Articles_Item_Title_WrittenBy{
    letter-spacing: -1px;
}

.Home_Articles_Item_Title_WrittenBy_Author{
    line-height: 20px;
}

.Home_Articles_CheckOut{
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-gap: 10px;
    align-items: center;
}

.Home_Articles_CheckOut_Decoration{
    background-color: white;
    /* border: solid #00216f 3px; */
    height: 40px;
    /* width: 100%; */
}

.Home_Articles_CheckOut_Button{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-family: Gilroy Bold;
    color: black;
    /* border: solid #00216f 3px; */
    text-align: center;
    font-size: 1.2em;
    letter-spacing: -1px;
    /* border-radius: 25px; */
    transition: 0.75s;
    /* font-smooth: always; */
}

.Home_Articles_CheckOut_Button:hover{
    /* transition: 1s; */
    font-size: 1.4em;
    border-radius: 25px;
}

.Home_InPhotos{
    background-color: #004cff;
    width: calc(100% - var(--Margin-Left) - var(--Margin-Right) - 60px);
    height: 481px;
    margin-left: var(--Margin-Left);
    margin-right: var(--Margin-Right);
    transform: translateY(-100px);
    padding: 30px;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: 10px;
}

.Home_InPhotos_List{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    overflow-y: hidden;
}

.Home_InPhotos_Item{
    background-color: white;
    height: 400px;
    padding: 10px;
    border: solid #00216f 3px;
    transition: var(--Element-Transition-Delay);
    cursor: pointer;
}

.Home_InPhotos_Item:hover{
    transform: scale(1.02);
}

.Home_InPhotos_Item:hover > .Home_InPhotos_Item_Image > .Home_InPhotos_Item_Title{
    padding-bottom: 20px;
}

.Home_InPhotos_Item:hover > .Home_InPhotos_Item_Image{
    background-size: 300%;
}

.Home_InPhotos_Item_Image{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 405px;
    /* width: 405px; */
    background-position: center;
    background-size: 290%;
    /* position: absolute; */
    transition: var(--Element-Transition-Delay);
}

.Home_InPhotos_Item:nth-child(1) > .Home_InPhotos_Item_Image{
    background-image: url("../Assets/Images/Gallery/ES_Template_Photos/10.png")
}

.Home_InPhotos_Item:nth-child(2) > .Home_InPhotos_Item_Image{
    background-image: url("../Assets/Images/Gallery/ES_Template_Photos/11.png")
}

.Home_InPhotos_Item:nth-child(3) > .Home_InPhotos_Item_Image{
    background-image: url("../Assets/Images/Gallery/ES_Template_Photos/12.png")
}

.Home_InPhotos_Item_Image_Image{
    width: 100%;
}

.Home_InPhotos_Item_Title{
    /* position: absolute; */
    /* bottom: 40px;
    left: 40px; */
    /* background-color: red; */
    height: fit-content;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
    transition: var(--Element-Transition-Delay);
    display: flex;
    align-items: center;
    width: 100%;
}

.Home_InPhotos_Item_Title_Text{
    font-family: Gilroy Bold;
    margin: 0;
    line-height: 20px;
    color: black;
    padding: 10px;
    font-size: 1.3em;
    letter-spacing: -1px;
}

.Home_Footer{
    background-color: #004cff;
    width: calc(100% - var(--Margin-Left) - var(--Margin-Right));
    height: 210px;
    margin-left: var(--Margin-Left);
    margin-right: var(--Margin-Right);
    transform: translateY(-80px);
    /* padding: 30px; */
    display: grid;
    grid-template-columns: 1fr auto auto auto auto auto auto auto auto auto;
    grid-template-rows: 1fr 40px;
    grid-row-gap: 10px;
}

.Home_Footer_Logo{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: white;
    /* padding: 30px; */
}

.Home_Footer_Logo_Image{
    height: 150px;
}

.Home_Footer_Links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.Home_Footer_Links_Button{
    background-color: white;
    font-family: Gilroy Bold;
    color: black;
    height: 30px;
    padding: 5px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 25px;
    width: 250px;
}

.Home_Footer_Links_Button:hover{
    transform: scale(1.05);
    /* font-size: 1.5em; */
    /* width: 275px; */
}

.Home_Footer_Decoration[Count="1"]{
    background-color: #e76740;
    /* margin-top: 10px; */
    height: 20px;
    transform: translateY(-90px);
    width: calc(100% - var(--Margin-Left) - var(--Margin-Right));
    margin-left: var(--Margin-Left);
    margin-right: var(--Margin-Right);
    display: flex;
    justify-content: space-around;
    transition: var(--Element-Transition-Delay);
}

.Home_Footer_Decoration[Count="2"]{
    background-color: #e76740;
    /* margin-top: 10px; */
    height: 20px;
    transform: translateY(-20px);
    width: calc(100% - var(--Margin-Left) - var(--Margin-Right));
    margin-left: var(--Margin-Left);
    margin-right: var(--Margin-Right);
    display: flex;
    justify-content: space-around;
    transition: var(--Element-Transition-Delay);
}

.Home_Footer_Decoration:hover{
    justify-content: space-between;
    background-color: white;
}

.Home_Footer_Decoration:hover > .Home_Footer_Decoration_Gap{
    width: 130px;
    background-color: #004cff;
}


.Home_Footer_Decoration_Gap{
    height: 20px;
    width: 10px;
    background-color: white;
}

.Home_Footer_Decoration_Inner[Count="1"]{
    height: 100%;
    width: 40px;
    background-color: #004cff;
}

.Home_Footer_Decoration_Inner[Count="2"]{
    height: 100%;
    width: 10px;
    background-color: white;
}

.Home_Footer_Decoration_Inner[Count="3"]{
    height: 100%;
    width: 40px;
    background-color: #004cff;
}

.Home_Footer_Decoration_Inner[Count="4"]{
    height: 100%;
    width: 10px;
    background-color: white;
}

.Home_Footer_Decoration_Inner[Count="5"]{
    height: 100%;
    width: 10px;
    background-color: white;
}

.Home_Footer_Decoration_Inner[Count="6"]{
    height: 100%;
    width: 40px;
    background-color: #004cff;
}

.Home_Footer_Decoration_Inner[Count="7"]{
    height: 100%;
    width: 10px;
    background-color: white;
}

.Home_Footer_Decoration_Inner[Count="8"]{
    height: 100%;
    width: 40px;
    background-color: #004cff;
}

.Home_Footer_Copyright{
    grid-area: 2 / 1 / 3 / 11;
    background-color: #004cff;
    display: grid;
    align-items: center;
    grid-template-columns: 40px 10px 40px 10px auto 10px 40px 10px 40px;
}

.Home_Footer_Copyright_Text{
    font-family: Gilroy Bold;
    color: white;
    margin: 0;
    text-align: center;
}

@media only screen and (min-width: 993px){
    .Home_MainTitle_Background, .Home_Featured, .Home_Featured_Selector, .Home_Articles_Decoration, .Home_Footer, .Home_Footer_Decoration{
        max-width: 993px;
    }

    .Home_MainTitle, .Home_Articles, .Home_InPhotos{
        max-width: 933px;
    }

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Home_Section_Title{
        max-width: 993px;
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media only screen and (max-width: 875px){
    .Home_MainTitle_Title{
        font-size: 4em;
        letter-spacing: -2px;
    }
    .Home_MainTitle_Subtitle{
        font-size: 1.2em;
        letter-spacing: 1px;
    }
    .Home_Latest_Carousel_Selector_Item[data-id = "Selected"]{
        width: 100px;
    }
    /* .Home_InPhotos{
        grid-template-columns: 304px 304px 304px;
        overflow-x: auto;
        overflow-y: hidden;
    } */
    .Home_Articles_List{
        grid-template-columns: 304px 304px 304px;
        grid-gap: 10px;
        overflow-x: auto;
    }
    .Home_Articles_CheckOut_Box{
        grid-template-columns: auto 1fr auto;
        grid-gap: 10px;
    }
    .Home_Articles_CheckOut_Box_Item[Count="1"], .Home_Articles_CheckOut_Box_Item[Count="2"]{
        grid-template-columns: 20px 20px; 
    }

    .Home_Articles_CheckOut_Button{
        font-size: 0.9em;
    }

    .Home_InPhotos_List{
        grid-template-columns: 304px 304px 304px;
        grid-gap: 10px;
        overflow-x: auto;
    }
    /* .Home_Footer{
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto auto auto auto auto auto auto auto 40px;
    } */
    
    .Home_Footer_Decoration_Inner[Count="1"], .Home_Footer_Decoration_Inner[Count="3"], .Home_Footer_Decoration_Inner[Count="6"], .Home_Footer_Decoration_Inner[Count="8"]{
        height: 40px;
        width: 100%;
        display: none;
    }

    .Home_Footer_Decoration_Inner[Count="2"], .Home_Footer_Decoration_Inner[Count="4"], .Home_Footer_Decoration_Inner[Count="5"], .Home_Footer_Decoration_Inner[Count="7"]{
        height: 10px;
        width: 100%;
        display: none;
    }

    .Home_Footer{
        display: flex;
        flex-direction: column;
        background-color: unset;
    }
    .Home_Footer_Logo{
        justify-content: center;
    }
    .Home_Footer_Logo_Image{
        height: 75px;
    }
    .Home_Footer_Links{
        height: 210px;
        background-color: #004cff;
        padding: 10px;
        margin-bottom: 40px; 
    }
    .Home_Footer_Copyright{
        grid-template-columns: auto;
        padding: 10px;
    }
    .Home_Section_Title{
        padding-left: 0px;
        padding-right: 0px;
    }
}