.Curtain{
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 10;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(80px, 100px));
    grid-template-rows: repeat(auto-fit, minmax(80px, 100px));
    /* display: flex;
    flex-direction: row; */
    overflow: hidden;
    
    /* transform: translate(-80px, -50px) rotate(-5deg); */
}

.Curtain_Item{
    width: 100%;
    height: 100%;
    background-color: white;
    animation-name: Curtain_Reveal;
    animation-duration: 0.6s;
    animation-delay: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

/* @media only screen and (max-width: 700px){
    .Curtain
} */

@keyframes Curtain_Reveal{
    0%{
        background-color: white;
        width: 100%;
    }
    100%{
        background-color: var(--English-Blue-Level-1L);
        width: 0%;
    }
}

.Branch_Title{
    display: flex;
    flex-direction: row;
    /* display: grid;
    grid-template-columns: 1fr auto; */
    /* margin-left: 10%;
    margin-right: 10%; */
    padding-left: 20px;
    align-items: center;
    /* background-color: var(--English-Blue-Level-1L); */
    overflow: hidden;
    height: 77px;
    user-select: none;
    margin-bottom: 10px;
    /* border-top: solid var(--English-Blue-Level-2D) 3px; */
}

.Branch_Title_Text{
    font-family: var(--Text-Font-BranchNavigation);
    color: var(--English-Blue-Level-1L);
    font-style: italic;
    font-size: 80px;
    text-transform: uppercase;
    margin: 0;
    margin-right: 10px;
    margin-left: 10%;
    position: absolute;
    /* -webkit-text-stroke: 3px white; */
    text-shadow: 2px 2px white, 4px 4px var(--English-Orange-Base);
    /* top: -2px; */
    opacity: 0%;
    animation-name: Branch_Title_Text_Reveal;
    animation-duration: 1s;
    animation-delay: 1.75s;
    animation-timing-function: cubic-bezier(0.14, 0.82, 0.12, 0.93);
    animation-fill-mode: forwards;
}

.Branch_Title_Icon{
    background-color: var(--English-Blue-Level-1L);
    position: absolute;
    top: 0;
    right: calc(10% + 10px);
    width: 80px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 0px 0px white, 2px 0px 0px 0px white, 5px 5px 0px 0px var(--English-Orange-Base), 5px 0px 0px 0px var(--English-Orange-Base);
    opacity: 0%;
    animation-name: Branch_Title_Text_Reveal;
    animation-duration: 1s;
    animation-delay: 1.75s;
    animation-timing-function: cubic-bezier(0.14, 0.82, 0.12, 0.93);
    animation-fill-mode: forwards;
}

.Branch_Title_Icon_Icon{
    width: 70px;
    height: 70px;
}

@keyframes Branch_Title_Text_Reveal{
    0%{
        opacity: 0%;
        transform: translateX(50px);
    }
    100%{
        opacity: 100%;
        transform: translateX(0px);
    }
}

.Stitches{
    width: 100%;
    height: 30px;
    /* background-color: var(--English-Orange-Base); */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Stitches_Item{
    /* width: 120px; */
    height: 20px;
    /* margin-right: 10px; */
    background-color: var(--English-Orange-Base);
}

.Branch_Content{
    display: grid;
    /* grid-template-columns: 1fr 300px; */
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-left: 10%;
    margin-right: 10%;
    /* margin-top: 10px; */
}

.Branch_Content_Title{
    font-family: var(--Text-Font-BranchNavigation);
    color: var(--English-Blue-Base);
    margin: 0;
}

.Branch_Content_Paragraph{
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
}

.Branch_Featured{
    background-color: #f0f0f0;
    grid-area: 1 / 2 / 2 / 3;
    padding: 10px;
    display: none;
}

.Branch_Navigation{
    grid-area: 1 / 1 / 2 / 2;
    padding: 10px;
    padding-top: 0px;
}

@media only screen and (max-width: 700px){
    .Branch_Content{
        grid-template-columns: 1fr;
        /* grid-template-rows: 400px 1fr; */
        grid-template-rows: unset;
        grid-gap: 10px;
        margin-left: 0%;
        margin-right: 0%;
        padding: 10px;
        /* padding-top: 0px; */
    }

    .Branch_Featured{
        /* grid-area: 1 / 1 / 2 / 2; */
        display: none;
    }

    .Branch_Navigation{
        grid-area: 2 / 1 / 3 / 2;
    }

    .Branch_Navigation_Grid{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .Branch_Title{
        /* margin-left: 10px;
        margin-right: 10px; */
        font-size: 3.5rem;
    }
    .Branch_Title_Text{
        margin-left: 10px;
		font-size: 65px;
    }
    .Branch_Title_Icon{
        display: none;
    }
}

.Branch_Navigation_Status{
    /* background-color: #1e3741; */
    overflow-y: hidden;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    margin-top: none;
    max-height: 500px;
    transition: 2s;
    position: sticky;
}

.Branch_Navigation_Status_Text{
    font-family: var(--Text-Font-Secondary);
    color: var(--English-Blue-Level-2D);
    margin: 0;
}

.Branch_Navigation_Grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    margin-bottom: 75px;
}

.Branch_Navigation_Grid_Item{
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    /* width: 300px; */
    /* height: auto; */
    height: 100%;
    /* border-radius: 7px; */
    outline: solid #00000000 5px;
    border: solid #00000000 5px;
    opacity: 100%;
    padding: 5px;
    transition: var(--Element-Transition-Delay);
    margin-bottom: 10px;
}

.Branch_Navigation_Grid_Item:hover{
    border-color: var(--English-Blue-Level-2D);
    outline-color: white;
    box-shadow: 10px 10px 0px 0px var(--English-Orange-Base);
    z-index: 50;
}

a:nth-child(odd):hover > .Branch_Navigation_Grid_Item{
    transform: scale(1.02) rotate(-3deg);
    /* box-shadow: var(--Element-BoxShadow); */
}

a:nth-child(even):hover > .Branch_Navigation_Grid_Item{
    transform: scale(1.02) rotate(3deg);
    /* box-shadow: var(--Element-BoxShadow); */
}

a:focus > .Branch_Navigation_Grid_Item{
    transform: scale(1.05);
    border-color: var(--English-Blue-Level-2D);
    outline-color: white;
    box-shadow: 10px 10px 0px 0px var(--English-Blue-Level-2D);
}

@keyframes Animation_Branch_Navigation_Grid_Item_FadeOut{
    0% {opacity: 100%; transform: scale(1);}
    100% {opacity: 0%; transform: scale(0.8);}
}

@keyframes Animation_Branch_Navigation_Grid_Item_FadeIn{
    0% {opacity: 0%; transform: scale(0.8);}
    100% {opacity: 100%; transform: scale(1);}
}

.Branch_Navigation_Grid_Item_Thumbnail{
    background-color: rgb(175, 175, 175);
    background-position: center;
    background-size:cover;
    height: 200px;
    /* border-radius: 7px 7px 0px 0px; */
}

.Branch_Navigation_Grid_Item:nth-child(1) .Branch_Navigation_Grid_Item_Thumbnail{
    background-image: url("../Assets/Images/BranchNavigation/Articles/Placeholder.png");
}

.Branch_Navigation_Grid_Item:nth-child(2) .Branch_Navigation_Grid_Item_Thumbnail{
    background-image: url("../Assets/Images/BranchNavigation/Articles/Placeholder.png");
}

.Branch_Navigation_Grid_Item:nth-child(3) .Branch_Navigation_Grid_Item_Thumbnail{
    background-image: url("../Assets/Images/BranchNavigation/Articles/Placeholder.png");
}

.Branch_Navigation_Grid_Item_Title{
    font-family: Gilroy Bold;
    color: var(--English-Blue-Level-3D);
    margin: 0;
    padding: 10px;
}

.Branch_Navigation_Grid_Item_Details{
    display: flex;
    flex-direction: row;
    grid-gap: 5px;
    padding: 10px;
    padding-top: 0;
    flex-wrap: wrap;
    margin-top: auto;
}

.Branch_Navigation_Grid_Item_Details_Item{
    background-color: #d6d4d4;
    padding: 10px;
    font-family: Roboto;
    color: var(--English-Blue-Level-3D);
    border-radius: 5px;
    max-width: 100%;
    text-overflow: ellipsis;
}


.Branch_Navigation_Search{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-bottom: 20px;
    height: 50px;
    background-color: var(--English-Blue-Level-1D);
    align-items: center;
    z-index: 50;
    top: 10px;
    position: sticky;
    border-radius: 7px;
    /* box-shadow: var(--Element-BoxShadow); */
}

.Branch_Navigation_Search_Input{
    background-color: var(--English-Blue-Level-1D);
    color: white;
    font-family: Roboto;
    font-size: 15;
    border: none;
    height: 50px;
    padding-left: 10px;
    /* margin-left: 10px; */
    transition: var(--Element-Transition-Delay);
    border-radius: 7px 0px 0px 7px;
}

.Branch_Navigation_Search_Input:focus{
    background-color: var(--English-Blue-Level-2D);
}

.Branch_Navigation_Search_Button{
    width: 30px;
    background-color: var(--English-Blue-Level-1D);
    padding: 10px;
    cursor: pointer;
    transition: var(--Element-Transition-Delay);
    border-radius: 0px 7px 7px 0px;
}

.Branch_Navigation_Search_Button:hover{
    background-color: var(--English-Blue-Level-2D);    
}

