.UI_Header_Title_Text, .Branch_Title, .Branch_Navigation_Grid_Item_Title, .Article_Title{
    font-family: Graduate;
}

.UI_Sidebar_Main_Item_Text{
    font-family: Roboto;
}

a:nth-child(odd):hover > .Branch_Navigation_Grid_Item{
    transform: scale(1.02);
}

a:nth-child(even):hover > .Branch_Navigation_Grid_Item{
    transform: scale(1.02);
}

.Article_Header{
    visibility: hidden;
}

.Article_Main_Content_Container{
    box-shadow: none;
}

.Branch_Navigation_Grid_Item:hover{
    box-shadow: unset;
}

.SF_Schedule{
    /* width: 80%; */
    margin-left: 10%;
    margin-right: 10%;
}

.SF_Schedule_Day{
    font-family: Graduate;
    color: var(--English-Blue-Level-3);
    /* margin-left: 10%;
    margin-right: 10%; */
}

.SF_Schedule_Schedule{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
    
}

.SF_Schedule_Item{
    /* background-color: red; */
    border: solid rgba(128, 128, 128, 0.242) 3px;
    /* border-radius: 7px; */
    padding: 10px;
    width: auto;
}

.SF_Schedule_Location{
    font-family: Raleway;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 10px;
}

.SF_Schedule_Item_List{
    display: flex;
    flex-direction: column;
}

.SF_Schedule_Item_List_Item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
}

.SF_Schedule_Item_List_Item:nth-child(odd){
    background-color: rgba(128, 128, 128, 0.242);
}

.SF_Schedule_Item_List_Item_Text{
    margin: 0;
    font-family: Roboto;
}

.SF_Schedule_Item_List_Item_Text:nth-child(2){
    text-align: right;
}

.SF_Ranks{
    margin: 20px;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
    grid-gap: 30px;
    justify-items: center;
}

.SF_Ranks_Team[Team="Green"]{
    background-color: rgb(10, 198, 41);
}

.SF_Ranks_Team[Team="Blue"]{
    background-color: rgb(10, 88, 198);
}

.SF_Ranks_Team[Team="Red"]{
    background-color: rgb(198, 10, 10);
}

.SF_Ranks_Team[Team="Gray"]{
    background-color: rgb(149, 149, 149);
}

.SF_Ranks_Team[Team="Violet"]{
    background-color: rgb(107, 20, 229);
}

.SF_Ranks_Team[Team="Brown"]{
    background-color: rgb(191, 81, 7);
}

.SF_Ranks_Team[Team="Green"] > .SF_Ranks_Team_Score{
    background-color: rgb(3, 134, 25);
}

.SF_Ranks_Team[Team="Blue"] > .SF_Ranks_Team_Score{
    background-color: rgb(5, 65, 149);
}

.SF_Ranks_Team[Team="Red"] > .SF_Ranks_Team_Score{
    background-color: rgb(144, 7, 7);
}

.SF_Ranks_Team[Team="Gray"] > .SF_Ranks_Team_Score{
    background-color: rgb(104, 104, 104);
}

.SF_Ranks_Team[Team="Violet"] > .SF_Ranks_Team_Score{
    background-color: rgb(83, 16, 176);
}

.SF_Ranks_Team[Team="Brown"] > .SF_Ranks_Team_Score{
    background-color: rgb(117, 51, 7);
}

.SF_Ranks_Team{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: calc(100% - 20px);
    /* max-width: 350px; */
    border-bottom-right-radius: 15px;
}


.SF_Ranks_Team_Score{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    position: absolute;
    transform: translateX(-20px) translateY(-10px);
    border-top-left-radius: 15px;
}

.SF_Ranks_Team_Score_Text{
    font-family: Graduate;
    color: white;
    margin: 0;
}

.SF_Ranks_Team_Name{
    margin-left: 85px;
}

.SF_Ranks_Team_Name_Text{
    font-family: Graduate;
    color: white;
}

.SF_Ranks_Team_Info{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}

.SF_Ranks_Team_Info_Item{
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* grid-gap: 10px; */
    justify-items: center;
    align-items: center;
    /* margin-right: 10px; */
    padding: 10px;
}

.SF_Ranks_Team_Info_Item:nth-child(even){
    background-color: rgba(0, 0, 0, 0.111);
}

.SF_Ranks_Team_Info_Item_Data, .SF_Ranks_Team_Info_Item_Value{
    font-family: Roboto;
    color: white;
    margin: 0;
}

.SF_Ranks_Team_Info_Item_Value{
    font-weight: bolder;
}

.SF_LastUpdated{
    margin-left: 10%;
    margin-right: 10%;
    font-family: Roboto;
    margin-bottom: 30px;
}

.SF_Sidebar_Logo{
    height: 150px;
    object-fit: contain;
    /* margin-left: auto;
    margin-right: auto; */
}

.UI_Sidebar_Secondary_Item:hover{
    cursor: auto;
    background-color: unset;
    
}

.UI_Sidebar_Secondary_Item{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: auto;
}

.UI_Sidebar_Secondary_Item_Text:nth-child(2){
    font-size: 2rem;
    margin: 0;
}

.SF_Scores_GameSpecific{
    scroll-snap-align: start none;
}

.SF_Scores{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    margin: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.SF_Scores_Game{
    display: grid;
    grid-template-rows: auto 1fr;
    border: solid rgba(128, 128, 128, 0.242) 3px;
    padding: 10px;
}

.SF_Scores_Game_Title{
    font-family: Raleway;
    margin: 0;
    margin-bottom: 5px;
}

.SF_Scores_Game_List{
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
}

.SF_Scores_Game_List_Item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
    padding: 5px;
}

.SF_Scores_Game_List_Item:nth-child(odd){
    background-color: rgba(128, 128, 128, 0.242);
}

.SF_Scores_Game_List_Item:nth-child(1){
    background-color: rgba(255, 216, 116, 0.97);
}

.SF_Scores_Game_List_Item_Data, .SF_Scores_Game_List_Item_Value_Text{
    font-family: Roboto;
    margin: 0;
}

.SF_Scores_Game_List_Item_Data{
    font-weight: bold;
}

.SF_Scores_Game_List_Item_Value_Text{
    /* margin-right: 10px; */
}

.SF_Scores_Game_List_Item_Value{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto; 
    grid-gap: 5px;
    align-items: center;
    justify-content: left;
}

.SF_Scores_Game_List_Item_Value_Flag{
    background-color: green;
    /* margin-right: 10px; */
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.SF_Scores_Game_List_Item_Value_Flag[Team="Green"]{
    background-color: rgb(10, 198, 41);
}

.SF_Scores_Game_List_Item_Value_Flag[Team="Blue"]{
    background-color: rgb(10, 88, 198);
}

.SF_Scores_Game_List_Item_Value_Flag[Team="Red"]{
    background-color: rgb(198, 10, 10);
}

.SF_Scores_Game_List_Item_Value_Flag[Team="Gray"]{
    background-color: rgb(149, 149, 149);
}

.SF_Scores_Game_List_Item_Value_Flag[Team="Violet"]{
    background-color: rgb(107, 20, 229);
}

.SF_Scores_Game_List_Item_Value_Flag[Team="Brown"]{
    background-color: rgb(191, 81, 7);
}

.SF_Title{
    font-family: Graduate;
    color: var(--English-Blue-Level-3);
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
}

.SF_Scores_Search, .Branch_Navigation_Status_Text{
    margin: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.SF_Button{
    margin: 10px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--English-Blue-Level-3);
    border-radius: 25px;
    width: 150px;
    color: white;
    font-family: Roboto;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    text-align: center;
}

@media only screen and (max-width: 700px){
    .SF_Schedule_Day, .SF_Schedule, .SF_Scores, .SF_Title, .SF_Scores_Search, .Branch_Navigation_Status_Text, .SF_Button{
        margin-left: 0%;
        margin-right: 0%;
        margin: 10px;
    }
    .SF_Schedule_Item_List_Item{
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
    }
    /* .SF_Schedule_Item_List_Item_Text{
        font-size: 0.8rem;
    } */
    .SF_Schedule_Item_List_Item_Text:nth-child(2){
        text-align: unset;
        opacity: 65%;
    }
    .SF_Schedule_Schedule{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .SF_Ranks{
        margin: 30px;
        margin-left: 30px;
        margin-right: 10px;
    }
    .SF_Ranks_Team{
        width: 100%;
        max-width: unset;
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0px;
    }
    .SF_LastUpdated, .Branch_Title{
        margin: 5px;
        margin-left: 10px;
    }
    .SF_Ranks_Team_Info{
        justify-content: flex-start;
        padding-top: 0px;
    }
    .SF_Ranks_Team_Info_Item{
        flex-grow: 1;
        font-size: 0.7rem;
        padding: 5px;
    }   
    .Main_Content_Container{
        width: 100%;
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 300px){
    .SF_Scores_Game_List_Item{
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
    }
}