.UI_Header_Title_Text, .Branch_Title, .Branch_Navigation_Grid_Item_Title, .Article_Title{
    font-family: Graduate;
}

.UI_Sidebar_Main_Item_Text{
    font-family: Roboto;
}

a:nth-child(odd):hover > .Branch_Navigation_Grid_Item{
    transform: scale(1.02);
}

a:nth-child(even):hover > .Branch_Navigation_Grid_Item{
    transform: scale(1.02);
}

.Article_Header{
    visibility: hidden;
}

.Article_Main_Content_Container{
    box-shadow: none;
}

.Branch_Navigation_Grid_Item:hover{
    box-shadow: unset;
}